## Make sure postgresql is up and running
  - service: name=supervisor state=started
  - supervisorctl: name=postgresql state=present
    register: supervisor_postgres
    ignore_errors: yes

  - supervisorctl: name=postgresql state=started
    when: supervisor_postgres.failed is undefined
    ignore_errors: yes

  - service: name=postgresql state=started
    ignore_errors: yes
    when: supervisor_postgres.failed is defined

  - shell: "{{ item }}"
    with_items:
      - echo {{ supervisor_postgres_database_path }}
      - cat /var/log/supervisor/postgresql*
    tags: debug

  - action: shell /usr/bin/pg_isready
    register: result
    until: result.stdout.find("accepting connections") != -1
    retries: 10
    delay: 5
